/* assets/css/styles.css */

body {
    background-image: url('../images/school1.jpg'); /* تحديث المسار */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #f5a623;
    font-size: 55px;
    text-shadow: 2px 2px 4px rgba(255, 192, 203, 0.8);
    margin-top: 60px;
}

h2 {
    color: #FF0000;
    font-size: 24px;
    background-color: rgba(255, 192, 203, 0.8);
    border: 2px solid #FF0000;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin-top: -20px;
}

table {
   width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgba(50, 50, 50, 0.8);
    color: #ffffff;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #f5a623;
}

th {
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="text"],
input[type="date"],
select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #555;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    transition: border-color 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #f5a623;
    background-color: rgba(255, 255, 255, 1);
}

input[type="submit"] {
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #f5a623;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
}

input[type="submit"]:hover {
    background-color: #e58a00;
}

.btn-home {
    display: inline-block;
    padding: 12px 24px;
    font-size: 22px;
    color: #ffffff;
    background-color: #7D053F;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-home:hover {
    background-color: #6a5867;
}
